{% extends "base.html" %}
{% block title %}Edit Notes Form{% endblock %}
{% block content %}
    <h1>Notes Form</h1>
    <form method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required value="{{ note.title }}">
        <br>
        <label for="content">Content:</label>
        <input id="content" name="content" rows="4" cols="50" required value="{{ note.content }}"></input>
        <br>
        <button type="submit">Save Changes</button>
    </form>
{% endblock content%}