{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
    <h1>Hello, Blass!</h1>
    {% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
    <ul>
        {% for category, message in messages%}
        <li class"{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <p>Welcome to your first Flask application!</p>
    <p>Current time: {{ current_time }}</p>
    {% if user == 'admin' %}
        <p>Welcome, Admin!</p>
        <button>Delete</button>
    {% elif user == 'user' %}
        <p>Welcome, User!</p>
    {% else %}
        <p>Welcome, Guest!</p>
    {% endif %}
    <ul>
        {% for number in numbers %}
            <li>Number: {{ number }}</li>
        {% endfor %}
    </ul>

    {% for note in notes %}
        <div>
            <h2> ID: {{ note.id }} - {{ note.title }}</h2>
            <p>{{ note.content }}</p>
            <a href="{{ url_for('notes.edit_note', note_id=note.id) }}">Edit</a>
            <a href="{{ url_for('notes.delete_note', note_id=note.id) }}">Delete</a>
        </div>
    {% endfor %}
    <a href="{{ url_for("notes.create_note")}}">Create new nnote</a>
    <br>
    <a href="{{ url_for("users.register")}}">Register</a>
    <br>
    <a href="{{ url_for("users.login")}}">Login</a>
    <br>
{% endblock content%}

    
